/*Base structure*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: url("cover_pic_full.jpg") center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  background-color:rgba(0,0,0,0.7);
  display: table-cell;
  vertical-align: top; 
}

/*Affix and center*/
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

@font-face {
font-family: Distric Pro Thin;
src: url("DistProTh.otf") format("opentype");
}

.cover-heading {
  opacity: 1;
  font-size: 100px;
  font-family: 'Distric Pro Thin';
  text-align: center;
  font-weight: lighter;
  color: rgb(247,179,209);
}