/*Base structure*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: url("images/cover_pic_full.jpg") center;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  background-color:rgba(0,0,0,0.7);
  display: table-cell;
  vertical-align: top; 
}

/*Affix and center*/
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

#arrow {
  position: fixed;
  width: 2%;
  bottom: 0;
  right: 0;
}

@font-face {
  font-family: Distric Pro Thin;
  src: url("documents/DistProTh.otf") format("opentype");
}

.cover-heading {
  display: inline;
  font-size: 100px;
  font-family: 'Distric Pro Thin';
  font-weight: lighter;
  color: rgb(247,179,209);
}

@font-face {
  font-family: Dalle;
  src: url("documents/Dalle_Typeface.otf") format("opentype");
}

.titles {
  font-family: 'Dalle', 'Alegreya Sans SC', 'Helvetia';
  font-size: 100px;
  margin-left: 20px;
  text-align: left;
}

.aboutMe {
  font-family: 'Distric Pro Thin';
  font-size: 35px;
  font-weight: lighter;
  margin-top: -50px;
  margin-left: 170px;
  margin-right: 170px;
  color: rgb(109,110,113);
}

.projects {
  float: center;
  margin-top: -60px;
}

.projects tr td img {
  width: 85%;
  opacity:0.55;
  filter:alpha(opacity=55);
}

.projects tr td img:hover {
  opacity:1;
  filter:alpha(opacity=100);
}


.footer {
  background-color: rgb(247,179,209);
  width: 100%;
  height: 100px;
}

#resumeLink {
  font-family: 'Distric Pro Thin';
  font-size: 20px;
}

/* unvisited link */
a:link {
    color: rgb(109,110,113);
}

/* visited link */
a:visited {
    color: rgb(109,110,113);
}

/* mouse over link */
a:hover {
    color: rgb(0,0,0);
}

/* selected link */
a:active {
    color: rgb(0,0,0);
}

#share-buttons img {
  width: 40px;
  margin-top: 10px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:0.55;
  filter:alpha(opacity=55);
  margin-bottom: 10px;
}
#share-buttons img:hover {
  opacity:1;
  filter:alpha(opacity=100);
}
