html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#first {
	height: 100%;
	overflow: hidden;
}

#cover {
   	display: block;
   	width: 100%;
   	top: 0;
   	bottom:0;
	z-index: -100;
}
