@font-face {font-family:"Dalle";src:url("Dalle_Typeface.eot?") format("eot"),url("Dalle_Typeface.woff") format("woff"),url("Dalle_Typeface.ttf") format("truetype"),url("Dalle_Typeface.svg#Dalle") format("svg");font-weight:normal;font-style:normal;}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#topContainer {
  position: relative;
	height: 100%;
	overflow: hidden;
}

#cover {
  width: 100%;
  position: relative;
}

.transparent {
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}



h1 {
  margin-left: 30px;
  font-family: "Dalle";
  font-size: 100px;
}

p {
  font-color: rgb(109,110,113);
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-top: -50px;
  margin-left: 250px;
  margin-right: 250px;
}