.icon-holder-outer {

    display: block;
    width: 100%;
    text-align: center;

    .icon-holder {

        display: inline-block;

            i {
            &.icon {
                border-bottom: none;
                text-decoration: none;
                color: $gray-bright;
                padding-right: $margin-base;
                margin-left: auto;
                margin-right: auto;

                &:hover {
                    color: $gray-medium;
                    text-decoration: none;
                }

                &:active {
                    color: $gray-medium;
                    text-decoration: none;
                }

            }
        }

    }

}


.scroll-down-container {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

    .scroll-down {

        display: inline-block;

        .arrow {
            border-bottom: none;
            text-decoration: none;
            color: $gray-bright;
        }

        .down-arrow-text {
            color: $gray-bright;
            font-size: $font-size-xxs;
            margin-bottom: 0;
        }
    }
}

    

