.site-wrapper-inner {
    &.projects {
        width: 100%;
        display: inline-block; 

    .header-image {
        width: 60%;
        object-fit: contain;
        display: block;
        margin: $margin-base auto;

        @media screen and (max-width: 768px){
            width: 100%;
        }

    }

        // img {
        //     margin: $margin-base;
        //     border: 2px solid $white;
                    
        //     &.tall-left {
        //         width: 31%;
        //     }

        //     &.wide-left {
        //         width: 40%;
        //     }

        //     &.wide-right {
        //         width: 55%;
        //         float: right;
        //         margin-right: 4 * $margin-base;
        //     }

        //     &.wide-right2 {
        //         width: 45%;
        //         float: right;
        //         margin-right: 4 * $margin-base;
        //     }

        //     &.center {
        //         width: 50%;
        //         display: block;
        //         margin-right: auto;
        //         margin-left: auto;
        //     }
        // }
    }
}