.site-wrapper-inner {
    div {
        width: 100%;

        img {
            margin: $margin-base;
            border: 2px solid $white;
                    
            &.tall-left {
                width: 31%;
            }

            &.wide-left {
                width: 40%;
            }

            &.wide-right {
                width: 55%;
                float: right;
                margin-right: 4 * $margin-base;
            }

            &.wide-right2 {
                width: 45%;
                float: right;
                margin-right: 4 * $margin-base;
            }

            &.center {
                width: 50%;
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}