p {
	a {
	color: $white;
	border-bottom: 1px dotted;

		&:hover {
			text-decoration: none;
			color: $gray-dark;
		}
	}
}

.list-link {
	color: $white;
	border-bottom: 1px dotted;

		&:hover {
			text-decoration: none;
			color: $gray-dark;
		}
	}