/* Extra markup and styles for table-esque vertical and horizontal centering */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

  &.home {
    @include background-image(url("../images/cover.jpg"));

    // .site-wrapper-inner:after {
    //   content:'';
    //   position:absolute;
    //   bottom:0; right:0;
    //   width:100%; height:100%;
    //   background-color: white;
      
    //   -webkit-transform-origin:100% 100%;
    //   -ms-transform-origin:100% 100%;
    //   transform-origin:100% 100%;

    //   -webkit-transform:skewX(30deg);
    //   -ms-transform:skewX(30deg);
    //   transform:skewX(30deg);
    // }

  }

  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top; 
    opacity: 0.8;

    &.gray{
      background-color: $gray-dark;
    }

    &.red{
      background-color: $red-base;
    }

    &.blue{
      background-color: $blue-base;
    }

    &.green{
      background-color: $green-base;
    }

    &.orange{
      background-color: $orange-base;
    }

    &.purple{
      background-color: $purple-base;
    }
  }
}

.projects {
  div {
    vertical-align: middle;
  }
}

