/* Extra markup and styles for table-esque vertical and horizontal centering */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: auto;
}

.site-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

  &.home {
    @include background-image(url("../images/cover.jpg"));

    // .site-wrapper-inner:before {
    //       content: '';
    //         position: absolute;
    //         left: 0;
    //         bottom: 0;
    //         overflow: visible;
    //         width: 100%;
    //         height: 100px;
    //         background: white;
    //         //z-index: -1;
    //         -webkit-transform: skewY(-2deg);
    //         -moz-transform: skewY(-2deg);
    //         -ms-transform: skewY(-2deg);
    //         -o-transform: skewY(-2deg);
    //         transform: skewY(-2deg);
    //         -webkit-backface-visibility: hidden;
    //  }

  }

  .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle; 
    opacity: 0.8;

    &.gray{
      background-color: $gray-dark;
    }

    &.red{
      background-color: $red-base;
    }

    &.blue{
      background-color: $blue-base;
    }

    &.green{
      background-color: $green-base;
    }

    &.orange{
      background-color: $orange-base;
    }

    &.purple{
      background-color: $purple-base;
    }
  }
}

.projects {
  div {
    vertical-align: middle;
  }
}

