// @media screen and (min-width: 480px) {
//   body { font-size: 90%; }
// }
@media screen and (min-width: 640px) {
  body { font-size: 100%; }
}
@media screen and (min-width: 1024px) {
  body { font-size: 120%; }
}

h1 {
    font-family: $font-family-sans;
    font-size: $font-size-h1;
    font-weight: $font-light;

    &.name {
        font-weight: $font-extra-light;
    }
}

h2 {
    font-family: $font-family-sans;
    font-size: $font-size-h2;
    font-weight: $font-normal;
}

h3 {
    font-family: $font-family-sans;
    font-size: $font-size-h3;
    font-weight: $font-bold;
}

p {
    font-family: $font-family-sans;
    font-size: $font-size-base;
    font-weight: $font-normal;

    &.tagline {
        margin-left: $margin-base;
        margin-right: $margin-base;
        color: $gray-bright;
    }
}

.center {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;

    li {
        font-family: $font-family-sans;
        font-size: $font-size-base;
    }
}

.vertical-nav {
    ul {
        li {
            white-space: nowrap;       
            a {
                p {
                    font-size: $font-size-xxs;
                    margin-top: -1.5*$margin-base;
                    margin-right: 2*$margin-base; 
                    color: $gray-dark; 
                    text-transform: uppercase;
                    visibility: hidden; 
                }
            }
        }
    }
}

.white {
    color: $white;
}

.blue {
    color: $blue-light;
}

.teal {
    color: $teal-light;
}

.yellow {
    color: $yellow-light;
}

.red {
    color: $red-light;
}

.pink {
    color: $pink-light;
}

.orange {
    color: $orange-light;
}

.green {
    color: $green-light;
}





