body {
    font-size: 100%;
}

h1 {
    font-family: $font-family-sans;
    font-size: $font-size-h1;
    font-weight: $font-light;

    &.name {
        font-weight: lighter;
    }
}

h2 {
    font-family: $font-family-sans;
    font-size: $font-size-h2;
    font-weight: $font-normal;
}

h3 {
    font-family: $font-family-sans;
    font-size: $font-size-h3;
    font-weight: $font-bold;
}

p {
    font-family: $font-family-sans;
    font-size: $font-size-base;
    font-weight: $font-normal;

    &.tagline {
        color: $gray-bright;
    }
}

.white {
    color: $white;
}

.center {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;

    li {
        font-family: $font-family-sans;
        font-size: $font-size-base;
    }
}

.white {
    color: $white;
}

.blue {
    color: $blue-light;
}

.teal {
    color: $teal-light;
}

.yellow {
    color: $yellow-light;
}

.red {
    color: $red-light;
}

.pink {
    color: $pink-light;
}

.orange {
    color: $orange-light;
}

.green {
    color: $green-light;
}





