//main sass file for the project

//adding in fonts
@import url('//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');

//adding in bower components 
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

//importing main variable and mixin files
@import "variables";
@import "mixins";

//importing other style files
@import "card";
@import "content";
@import "footer";
@import "grid";
@import "images";
@import "links";
@import "side-nav";
@import "sitewrapper";
@import "text";