//main sass file for the project

//adding in fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700");

//adding in bower components 
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

//importing main variable and mixin files
@import "variables";
@import "mixins";

//importing other style files
@import "card";
@import "content";
@import "footer";
//@import "grid";
@import "icons";
@import "images";
@import "links";
@import "mobile-nav";
@import "side-nav";
@import "sitewrapper";
@import "text";