@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.card {
  margin-bottom: 12px;
  overflow: hidden;
  position: relative; }
  .card .card-content {
    width: 100%;
    display: block;
    height: 24vw; }
    .card .card-content div {
      border-radius: 2px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      display: table;
      width: 100%;
      height: 100%;
      /* For at least Firefox */
      min-height: 100%; }
      .card .card-content div.ngpvan {
        background-image: url("../images/ngpvan.jpg");
        background-image: url("../images/ngpvan.jpg"); }
      .card .card-content div.edu {
        background-image: url("../images/322.png");
        background-image: url("../images/322.png"); }
      .card .card-content div.gcsp {
        background-image: url("../images/gcsp.jpg");
        background-image: url("../images/gcsp.jpg"); }
      .card .card-content div.uocd {
        background-image: url("../images/uocd.jpg");
        background-image: url("../images/uocd.jpg"); }
      .card .card-content div.research {
        background-image: url("../images/research.jpg");
        background-image: url("../images/research.jpg"); }
      .card .card-content div.insper {
        background-image: url("../images/insper.jpg");
        background-image: url("../images/insper.jpg"); }
      .card .card-content div.dream {
        background-image: url("../images/dream.jpg");
        background-image: url("../images/dream.jpg"); }
      .card .card-content div.softdes {
        background-image: url("../images/softdes.jpg");
        background-image: url("../images/softdes.jpg"); }
      .card .card-content div.eh {
        background-image: url("../images/e4h.jpg");
        background-image: url("../images/e4h.jpg"); }
      .card .card-content div.edisco {
        background-image: url("../images/edisco.jpg");
        background-image: url("../images/edisco.jpg"); }
      .card .card-content div div {
        background-color: rgba(0, 0, 0, 0.7);
        display: table-cell;
        vertical-align: top; }
        .card .card-content div div:hover {
          background-color: transparent; }
          .card .card-content div div:hover h3 {
            display: none; }
        .card .card-content div div h3 {
          font-weight: 300;
          padding-top: 24px;
          padding-bottom: 48px;
          margin-left: 12px;
          margin-right: 12px; }

div.content {
  margin: 12px; }

.footer {
  margin-top: 12px;
  margin-bottom: 12px; }

.icon-holder-outer {
  display: block;
  width: 100%;
  text-align: center; }
  .icon-holder-outer .icon-holder {
    display: inline-block; }
    .icon-holder-outer .icon-holder i.icon {
      color: #D9E3EF;
      padding-right: 12px;
      margin-left: auto;
      margin-right: auto; }
      .icon-holder-outer .icon-holder i.icon:hover {
        color: #394258;
        text-decoration: none; }

.site-wrapper-inner.projects {
  width: 100%;
  display: inline-block; }
  .site-wrapper-inner.projects .header-image {
    width: 60%;
    object-fit: contain;
    display: block;
    margin: 12px auto; }
    @media screen and (max-width: 768px) {
      .site-wrapper-inner.projects .header-image {
        width: 100%; } }

a {
  text-decoration: none; }

.vertical-nav {
  position: fixed;
  right: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1000; }
  .vertical-nav a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px; }
  .vertical-nav ul {
    list-style: none; }
    .vertical-nav ul li {
      position: relative;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      cursor: pointer;
      padding: 6px;
      height: 12px;
      margin: 12px;
      width: 12px;
      vertical-align: bottom; }
      .vertical-nav ul li:hover, .vertical-nav ul li.active {
        background-color: rgba(0, 0, 0, 0.75); }

/* Extra markup and styles for table-esque vertical and horizontal centering */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: auto; }

.site-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }
  .site-wrapper.home {
    background-image: url("../images/cover.jpg");
    background-image: url("../images/cover.jpg"); }
  .site-wrapper .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    opacity: 0.8; }
    .site-wrapper .site-wrapper-inner.gray {
      background-color: #191F2B; }
    .site-wrapper .site-wrapper-inner.red {
      background-color: #F86362; }
    .site-wrapper .site-wrapper-inner.blue {
      background-color: #6293F8; }
    .site-wrapper .site-wrapper-inner.green {
      background-color: #56CB57; }
    .site-wrapper .site-wrapper-inner.orange {
      background-color: #FDBD58; }
    .site-wrapper .site-wrapper-inner.purple {
      background-color: #C972EA; }

.projects div {
  vertical-align: middle; }

body {
  font-size: 100%; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: 300; }
  h1.name {
    font-weight: lighter; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 400; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-weight: 400; }
  p.tagline {
    color: #D9E3EF; }

.white {
  color: #ffffff; }

.center {
  text-align: center; }

ul {
  text-align: center;
  list-style: none; }
  ul li {
    font-family: "Lato", sans-serif;
    font-size: 1.25em; }

/*# sourceMappingURL=main.css.map */
