@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.card {
  margin-bottom: 12px;
  overflow: hidden;
  position: relative; }
  .card .card-content {
    width: 100%;
    display: block;
    height: 24vw; }
    .card .card-content div {
      border-radius: 2px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      display: table;
      width: 100%;
      height: 100%;
      /* For at least Firefox */
      min-height: 100%; }
      .card .card-content div.ngpvan {
        background-image: url("../images/ngpvan.jpg");
        background-image: url("../images/ngpvan.jpg"); }
      .card .card-content div.edu {
        background-image: url("../images/322.png");
        background-image: url("../images/322.png"); }
      .card .card-content div.gcsp {
        background-image: url("../images/gcsp.jpg");
        background-image: url("../images/gcsp.jpg"); }
      .card .card-content div.uocd {
        background-image: url("../images/uocd.jpg");
        background-image: url("../images/uocd.jpg"); }
      .card .card-content div.research {
        background-image: url("../images/research.jpg");
        background-image: url("../images/research.jpg"); }
      .card .card-content div.insper {
        background-image: url("../images/insper.jpg");
        background-image: url("../images/insper.jpg"); }
      .card .card-content div.dream {
        background-image: url("../images/dream.jpg");
        background-image: url("../images/dream.jpg"); }
      .card .card-content div.softdes {
        background-image: url("../images/softdes.jpg");
        background-image: url("../images/softdes.jpg"); }
      .card .card-content div.eh {
        background-image: url("../images/e4h.jpg");
        background-image: url("../images/e4h.jpg"); }
      .card .card-content div.edisco {
        background-image: url("../images/edisco.jpg");
        background-image: url("../images/edisco.jpg"); }
      .card .card-content div div {
        background-color: rgba(0, 0, 0, 0.7);
        display: table-cell;
        vertical-align: top; }
        .card .card-content div div:hover {
          background-color: transparent; }
          .card .card-content div div:hover h3 {
            display: none; }
        .card .card-content div div h3 {
          font-weight: 300;
          padding-top: 24px;
          padding-bottom: 48px;
          margin-left: 12px;
          margin-right: 12px; }

div.content {
  margin: 12px; }

.footer {
  margin-top: 12px;
  margin-bottom: 12px; }

.icon-holder-outer {
  display: block;
  width: 100%;
  text-align: center; }
  .icon-holder-outer .icon-holder {
    display: inline-block; }
    .icon-holder-outer .icon-holder a {
      border-bottom: none; }
    .icon-holder-outer .icon-holder i.icon {
      text-decoration: none;
      color: #D9E3EF;
      padding-right: 12px;
      margin-left: auto;
      margin-right: auto; }
      .icon-holder-outer .icon-holder i.icon:hover {
        color: #394258;
        text-decoration: none; }
      .icon-holder-outer .icon-holder i.icon:active {
        color: #394258;
        text-decoration: none; }

.scroll-down-container {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0; }
  .scroll-down-container .scroll-down {
    display: inline-block; }
    .scroll-down-container .scroll-down .arrow {
      border-bottom: none;
      text-decoration: none;
      color: #D9E3EF; }
    .scroll-down-container .scroll-down .down-arrow-text {
      color: #D9E3EF;
      font-size: 0.688em;
      margin-bottom: 0; }

.site-wrapper-inner.projects {
  width: 100%;
  display: inline-block; }
  .site-wrapper-inner.projects .header-image {
    width: 75%;
    object-fit: contain;
    display: block;
    margin: 12px auto; }
    @media screen and (max-width: 768px) {
      .site-wrapper-inner.projects .header-image {
        width: 100%; } }

p a {
  color: #ffffff;
  border-bottom: 1px dotted; }
  p a:hover {
    text-decoration: none;
    color: #191F2B; }

.list-link {
  color: #ffffff;
  border-bottom: 1px dotted; }
  .list-link:hover {
    text-decoration: none;
    color: #191F2B; }

@media screen and (min-width: 1024px) {
  .hamburger-menu {
    visibility: hidden; } }
.mobile-nav {
  z-index: 1000000;
  position: fixed;
  margin: 12px;
  top: 0;
  left: 0; }
  .mobile-nav .hamburger-menu {
    color: #4D5B74;
    opacity: 100%; }
  .mobile-nav .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 100%;
    display: inline-block; }
    .mobile-nav .nav-list .close-nav {
      position: relative;
      margin-top: 12px;
      margin-left: 12px;
      top: 0;
      right: 0; }
    .mobile-nav .nav-list ul li a p {
      color: #191F2B;
      font-size: 0.688em;
      text-align: left;
      text-transform: uppercase;
      margin: 12px;
      border-bottom: 1px dotted; }

@media screen and (max-width: 1024px) {
  .vertical-nav {
    visibility: hidden; } }
.vertical-nav {
  direction: rtl;
  position: fixed;
  right: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1000; }
  .vertical-nav a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px; }
  .vertical-nav ul {
    list-style: none;
    padding-right: 0; }
    .vertical-nav ul li {
      position: relative;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      cursor: pointer;
      height: 12px;
      margin: 12px;
      width: 12px;
      vertical-align: bottom; }
      .vertical-nav ul li:hover, .vertical-nav ul li.active {
        background-color: rgba(0, 0, 0, 0.75); }
      .vertical-nav ul li:hover a p {
        visibility: visible; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: auto; }

.site-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }
  .site-wrapper.home {
    background-image: url("../images/cover.jpg");
    background-image: url("../images/cover.jpg"); }
  .site-wrapper .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    opacity: 0.8; }
    .site-wrapper .site-wrapper-inner.gray {
      background-color: #191F2B; }
    .site-wrapper .site-wrapper-inner.red {
      background-color: #802028; }
    .site-wrapper .site-wrapper-inner.blue {
      background-color: #00a3da; }
    .site-wrapper .site-wrapper-inner.green {
      background-color: #BBC727; }
    .site-wrapper .site-wrapper-inner.orange {
      background-color: #FFAD49; }
    .site-wrapper .site-wrapper-inner.purple {
      background-color: #471878; }
    .site-wrapper .site-wrapper-inner.teal {
      background-color: #68D2D2; }
    .site-wrapper .site-wrapper-inner.yellow {
      background-color: #F2C314; }
    .site-wrapper .site-wrapper-inner.pink {
      background-color: #C54762; }

.projects div {
  vertical-align: middle; }

@media screen and (min-width: 640px) {
  body {
    font-size: 100%; } }
@media screen and (min-width: 1024px) {
  body {
    font-size: 120%; } }
h1 {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: 300; }
  h1.name {
    font-weight: 100; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 400; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 700; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-weight: 400; }
  p.tagline {
    margin-left: 12px;
    margin-right: 12px;
    color: #D9E3EF; }

.center {
  text-align: center; }

ul {
  text-align: center;
  list-style: none;
  padding-left: 0; }
  ul li {
    font-family: "Lato", sans-serif;
    font-size: 1.25em; }

.vertical-nav ul li {
  white-space: nowrap; }
  .vertical-nav ul li a p {
    font-size: 0.688em;
    margin-top: -18px;
    margin-right: 24px;
    color: #191F2B;
    text-transform: uppercase;
    visibility: hidden; }

.white {
  color: #ffffff; }

.blue {
  color: #c5e9f1; }

.teal {
  color: #EAFAF5; }

.yellow {
  color: #FAF3D4; }

.red {
  color: #C18E96; }

.pink {
  color: #EDC5D4; }

.orange {
  color: #FFE3C1; }

.green {
  color: #F3F2BE; }

/*# sourceMappingURL=main.css.map */
